@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* navbar */

#navbar {
    /* font-family: 'Lato', sans-serif; */
    position: sticky;
    z-index: 10;
    top: 0;
}
.navbar {
    /* background:  -webkit-linear-gradient(left, rgba(102,149,204,255), rgba(9,19,44,255)); */
    /* background-color: rgba(0, 0, 0, 0.95); */
    background-color: black;
}
#navbarNav {
    justify-content: end;
    margin-right: 20px;
}
#navbarNav ul li {
    padding: 5px 15px;
}
#navbarNav ul li a {
   color: white;
   font-size: 14px;
   font-weight: 600;
   line-height: 15px;
   outline: none;
   transition: 0.5s;
}
#navbarNav ul li a:hover {
    color: rgb(114, 114, 114);
    text-decoration: none;
    /* border-bottom: 3px solid white;
    border-radius: 50%; */
 }
.navbar .fa-solid {
    color: white;
    width: 15px;
}
.navbar button {
    border: none;
}

.navbar-toggler {
    outline: none !important;
}

/* banner */

#banner {
    /* background:  -webkit-linear-gradient(left, rgba(102,149,204,255), rgba(9,19,44,255)); */
    background-color: rgba(0, 0, 0, 0.95);
    /* background-color: black; */
    padding: 50px 0;
    /* font-family: 'Lato', sans-serif; */
}

#banner .banner_content {
    margin: 20px auto 0px;
    /* color: white; */
    /* text-align: center; */
}
#banner .banner_text {
    color: white;
    padding: 20px 0;
}
.banner_text h5 {
    font-size: 25px;
    margin-bottom: 15px;
}

.banner_text h6 {
    font-size: 15px;
    margin-bottom: 40px;
}
 .resume {
    padding: 10px 40px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 20px;
    margin-bottom: 130px;
    color: white;
    transition: 0.5s;
    font-size: 18px;
}
.banner_text a{
    color: white;
    text-decoration: none;
}

.resume:hover {
    padding: 10px 50px;
    color: rgb(114, 114, 114);
    border: 3px solid rgb(114, 114, 114);
    /* color: white; */
}
.banner_content img {
   width: 100%;
}

.banner-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 50px;
    object-fit: cover;
    /* margin: 20px 0 50px; */
    /* margin-top: -250px; */
}


/* about me */

#about_me {
    padding: 20px 0 50px;
    /* font-family: 'Lato', sans-serif; */
    color: white;
    background-color: rgba(0, 0, 0, 0.95);
}

#about_me .header h1 {
    color: white;
    font-size: 25px;
}
#about_me .header h1::after {
    display: block;
    content: ' ';
    background-color: white;
    width: 70px;
    height: 5px;
    margin: 5px auto;
}
/* .header h1 .straight-line {
    display: block;
    width: 200px;
    height: 5px;
    background-color: white;
    margin: 15px auto;
} */

.about-me-col2 h4 {
    font-size: 20px;
    margin-bottom: 20px;
}
.about-me-col2 p {
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
}
/* .about-me-col1 {
    border-left: 4px solid  rgb(65, 76, 98);
} */
.about-me-col2 p .one {
    background-color: rgb(245, 198, 198);
    border-radius: 5px;
    padding: 3px 15px;
    font-weight: bold;
    color: black;
}
.about-me-col2 p .A {
    background-color: rgba(123, 153, 164, 0.774);
}
.about-me-col2 p .B {
    background-color: rgb(186, 225, 166);
}
.about-me-col2 p .C {
    background-color: rgb(235, 206, 247);
}
.about-me-col2 p .D {
    background-color: rgb(198, 242, 247);
}
.about-me-col2 p .E {
    background-color: rgb(233, 248, 173);
}
.about-me-col2 p .F {
    background-color: rgba(167, 182, 219, 0.831);
}
.about-me-col2 p .G {
    background-color: rgba(230, 159, 159, 0.642);
}
.about-me-col2 p {
    margin-top: 30px;
}
.about-me-col2 p a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: none;
    padding: 9px 20px;
    border-radius: 20px;
    font-weight: 600;
    background:  -webkit-linear-gradient(left, rgba(102,149,204,255), rgba(9,19,44,255));
    font-size: 18px;
    transition: 0.5s;
}
.about-me-col2 p a:hover {
    padding: 11px 25px;
}

/* projects */

#projects {
    background-color: rgba(0, 0, 0, 0.95);
    padding: 100px 0 50;
}
#projects img {
    width: 100%;
    margin-bottom: 50px;
}
.projects h1 {
    color: white;
    padding-top: 100px;
    font-size: 25px;
}
.projects h1::after {
    display: block;
    content: ' ';
    background-color: white;
    width: 100px;
    height: 5px;
    margin: 5px auto;
}

.projects .one {
    margin-top: 50px;
}
/* .projects .straight-line {
    display: block;
    width: 200px;
    height: 5px;
    background-color: white;
    margin: -15px auto 30px;
} */
.project-content .project-items {
    padding: 20px 20px;
    margin: 20px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
     width: 300px; 
}

.project-content .project-items h3 {
    font-size: 20px;
    /* color: rgb(118, 41, 41); */
}

.project-content .project-items p {
    font-size: 15px;
}

.project-content .project-items a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.project-content .project-items a:hover {
    color: rgb(114, 114, 114);

}
.project-items img {
    border-radius: 5px;
    border: none;
}
/* .project-content .project-items:hover {
    margin: 30px 0;
} */
.project-items a p {
    font-size: 14px;
}

/* contact */

#contact {
    background-color: rgba(0, 0, 0, 0.95);
    padding: 60px 0 80px;
}
.contact-text .chat {
    color: white;
    margin: 50px 0 20px;
    z-index: 1;
    font-size: 50px;
}
#contact .social-icon {
    margin-top: 20px;
    display: inline;
    font-size: 25px;
    width: 200px;
    height: 60px;
    /* border: 2px solid red; */
}

#contact .social-icon a i {
   text-decoration: none;
   color: white;
   transition: 0.5s;
}
#contact .social-icon a i:hover {
    font-size: 30px;
    color: rgb(114, 114, 114);


 }

/* #contact  .fa-comment {
    color: rgb(75, 91, 120) ;
    position: relative;
    left: 23%;
    opacity: 50%;
    font-size: 300px;
    bottom: 340px;
} */

/* footer */

#footer {
    /* font-family: 'Lato', sans-serif; */
    background-color: rgba(0, 0, 0, 0.95);
    padding: 10px 0;
    
}
#footer hr {
    color: white;
}
#footer p {
    color: white;
    font-size: 13px;
}
#footer p span {
    color: rgb(238, 92, 92);
}
#footer p i b {
    font-family: 'Merienda', cursive;
}

/* preloader */

#preloader {
    background-color: white;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-image: url(images/loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}




